.venv/
__pycache__/
*.pyc

lab3/.venv-wsl/
lab3/db.sqlite3
.venv-wsl/
todos.json
lab5/todos_agent.json

lab6/ex2_buggy
lab6/ex2_fixed
lab6/ex2b_buggy
lab6/ex5
lab6/ex5_buggy
lab6/perf.data*
lab6/flamegraph.html

lab6/ex3_buggy
lab6/ex4
lab6/ex4_prof
lab6/ex5_fixed
lab6/gmon.out
lab6/profile.txt

lab7/race
lab7/race_fixed
lab7/sleep
lab7/hash1
lab7/hash4
lab7/hash_general
lab7/perf.data*
lab7/flamegraph.html
lab8/site/
*.o
